/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.btn{
    text-decoration: none;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    background: black;
    color: white;
    display: inline-block;
    border-radius: 40px;
    margin-bottom: 50px;
    border: 2px solid black;
}

.btn:hover{
    text-decoration: none;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    background: white;
    color: black;
    display: inline-block;
    border-radius: 40px;
    margin-bottom: 50px;
    border: 2px solid black;
}

.tituloDePagina{
    margin:40px;
    margin-left: 50px;
}



/* GRIDS HOME*/
.gridArea{
    display: grid;
    grid-template-areas: 
    "header"
    "inicio"
    "principal"
    "footer";
    height: 100vh;
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

main{
    grid-area: inicio;
}

section{
    grid-area: principal;
}

/* HEADER */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #41C083;
    width: auto;

}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header ul {
    display: flex;
}

.site-header ul li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.site-header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.site-header ul li a:hover{
    color: black;
}

.site-header a img{
    width: 100px;
    margin-left: 10px;
}

/* FOOTER */

.footerFlex{
    display: flex;
    flex-direction: column;
    background-color: #41C083;
}

.footerLeft img{
    width: 100px;
    margin-bottom: 30px;
}

.footerLeft ul{
    text-decoration: none;
    line-height: 1.6;
    list-style: none;
    display: inline-block;
    margin-top: 30px;
}

.footerLeft ul li{
    padding: 0 10px;
}

.footerLeft ul li a{
    text-decoration: none;
    color: white;
}

.footerLeft ul li a:hover{
    color: black;
}

.footerRight {
    text-align: right;
    margin: 10px;
    margin-right: 20px;
}

.footerRight a img{
    width: 30px;
}

.footerRight .footerRightRedes img{
    display: inline-block;
    margin-left: 10px;
}

.footerRight p{
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}




/* Home Inicio */

.flexInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: url("../images/ImagenHome.png");
}

.inicioTitulo{
    text-align: center;
    font-size: 100px;
    color: white;
}

div.inicio{
    text-align: center;
    margin-top: 25px;
}

div.inicio p{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}

.flexBebidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

div.bebidas .bebidasTitulo{
    color: black;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}

div.bebidas p{
    text-align: center;
}

div.bebidas img{
    margin-top: 25px;
    margin-bottom: 30px;
}

/* ABOUT */


div h1.tituloDePagina{
    font-size: 40px;
}

div.about iframe{
    margin: 20px 50px;
}

div.about p{
    display: inline-block;
    width: 1080px;
    margin-left: 25px;
    margin-top: 25px;
}

div.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* GRIDS ABOUT*/
.gridAreaAbout{
    display: grid;
    grid-template-areas: 
    "header"
    "principal"
    "footer";
    height: 100vh;
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

section{
    grid-area: principal;
}