/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
nav {
    background-color: #41C083;
    height: 100px;
}

nav img{
    width: 100px;
    margin-left: 40px;
}

nav ul {
display: inline-block;
position: relative;
bottom: 44px;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: black;
}



/* FOOTER */
footer {
    background-color: #41C083;
    position: absolute;
    width: 100%;
}


.footerMenu img{
    display: inline;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-bottom: 5px;
}

.footerMenu ul li{
    display: block;
}

.footerMenu ul {
    list-style: none;
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;

}

.footerMenu ul li a {
    text-decoration: none;
    color: white;
}

.footerMenu ul li a:hover{
    text-decoration: none;
    color: black;
}

.footerMenu p{
    color: white;
    display: inline-block;
    position: relative;
    left: 64rem;
    bottom: 10px;

}

.footerMenu .logosRedes {
    position: relative;
    left: 78rem;
}

.footerMenu .logosRedes img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

/* HOME */

.inicio {
    background-image: url("../images/ImagenHome.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}

div.inicio h1 {
    text-align: center;
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    color: white;
}

div.inicio img {
    display: block;
    margin: auto;
}

div.inicio p {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    color: white;
}

/* HOME BEBIDAS */
div.bebidas .bebidasTitulo {
    text-align: center;
    padding: 25px;
    font-size: 50px;
    margin-top: 50px;
}

div.bebidas img{
    width: 100%;
    height: 25%;
}

div.bebidas p{
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.btn{
    text-decoration: none;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    background: black;
    color: white;
    display: inline-block;
    border-radius: 40px;
    margin-bottom: 50px;
    border: 2px solid black;
}

div.bebidas a:hover{
    color: black;
    background-color: white;
}

/* CONTACTANOS */

.contactoSection {
    width: 100%;
    height: 79vh;
    background-size: cover;
}

.tituloDePagina {
    font-size: 30px;
    margin: 30px;
    margin-left: 20px;
    margin-top: 50px;
}

.formularioContacto {
    margin: 30px;
    margin-left: 30px;
    width: 500px;
    display: inline-block;
    border: rgb(210, 203, 203) solid 1px;
    padding: 20px;
}

.formularioContacto .form {
    font-weight: bold;
    margin-left: 20px;
}

.formularioContacto .form .formularioEmail input{
    margin-left: 25px;
    margin-bottom: 25px;
    height: 30px;
    width: 170px;
}

.formularioContacto .form .formularioConsulta select{
    margin-left: 25px;
    margin-bottom: 25px;
    height: 30px;
    width: 170px;
}

.formularioContacto .form .formularioSosCliente input{
    margin-left: 25px;
    margin-bottom: 25px;
}

.formularioContacto .form .formularioEscribinos label{
    display: block;
    margin-bottom: 5px;
}

.formularioContacto .form .formularioEscribinos textarea{
    margin-left: 0px;
    width: 420px;
    height: 200px;
}

.formularioContacto .form .formularioBtn input{
    background-color: black;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 20px;

}

.formularioContacto .form .formularioBtn input:hover{
    background-color: white;
    color: black;
}

.contactoSection .logoContacto{
    display: inline-block;
}

.contactoSection .logoContacto img{
    display: inline-block;
    margin-left: 25px;
}

/* FAQS */

.faqs div.preguntasRespuestas{
    margin-left: 25px;
    width: 100%;
    height: 69vh;
    margin-top: 70px;
}

.faqs div.preguntasRespuestas h4{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}


/* ABOUT */

.about{
    width: 100%;
    height: 79vh;
}

.about iframe{
    display: inline;
    margin-left: 20px;
    margin-top: 30px;
}

.about p{
    display: inline-block;
    font-size: 30px;
    width: 50%;
    height: 200px;
    margin-left: 40px;
    position: relative;
    bottom: 155px;
}

/* TIENDA */

.productSection div.productos p{
    font-size: 15px;
}

*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
    display: inline-block;
    margin-left: 100px;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #41C083;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}



.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #41C083;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #41C083;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #41C083;
}

.product-card.espacio{
    margin-left: 30px;
}

.btnProductos p{
    text-align: center;
}

/* GRIDS */

#grid-container{
    display: grid;
    
}